{% set title = 'Home' %}
{% extends 'layouts/_layout.njk' %}

{% block content %}
    {% include 'components/_about.njk' %}
    {% include 'components/_skills.njk' %}
    {% include 'components/_statistics.njk' %}
    {% include 'components/_gallery.njk' %}
    {% include 'components/_work.njk' %}
    {% include 'components/_activities.njk' %}
    {% include 'components/_quotes.njk' %}
    {% include 'components/_partners.njk' %}
    {% include 'components/_talk.njk' %}
{% endblock %}
