<section class="quotes" id="testimonials">
    <div class="container quotes__container">
        <div class="quotes__wrapper">
            <div class="slider slider-quotes">
                {% for slide in range(3) %}
                    <div class="quotes__content">
                        <h2 class="quotes__title">“ Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.”
                        </h2>
                        <p class="quotes__author">Michael Hopkins</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
