<section class="talk" id="talk">
    <div class="container">
        <div class="talk__wrapper">
            <div class="talk__caption">
                <h2 class="title">Need a Project?</h2>
                <p class="text">Let us know what you're looking for in an agency. We'll take a look and see
                    if this could be the start of something beautiful.</p>
            </div>
            <form action="" class="talk__form">
                <fieldset class="talk__fieldset">
                    <legend class="hidden">Feedback form</legend>
                    <div class="talk__fields">
                        <div class="talk__field">
                            <label for="name" class="sr-only">Your name</label>
                            <input type="text" id="name" placeholder="Your name">
                        </div>
                        <div class="talk__field">
                            <label for="email" class="sr-only">Your email</label>
                            <input type="email" id="email" placeholder="Your email">
                        </div>
                        <div class="talk__field">
                            <label for="title" class="sr-only">Your title</label>
                            <input type="text" id="title" placeholder="Your title">
                        </div>
                        <div class="talk__field">
                            <label for="comment" class="sr-only">Your comment</label>
                            <textarea name="textarea" id="comment" placeholder="Your comment"></textarea>
                        </div>
                    </div>
                </fieldset>
                <a href="#" class="btn talk__btn">Send message</a>
            </form>
        </div>
    </div>
</section>
